/* want to do blur  */
/* .welcome .blur {
    position: absolute;
    width: 60vw;
    height: 150vh;
    top: -20vh;
    left: -10vw;
    display: block;
    background: var(--color-transparent-black);
    backdrop-filter: blur(calc(var(--base-unit)*2));
    -webkit-backdrop-filter: blur(calc(var(--base-unit)*2));
    z-index: 2;
    transform: rotate(-15deg);
} */
.login,
.login * {
    box-sizing: border-box;

}
.login {
    background: #ffffff;
    width: 390px;
    position: relative;
    height: 100vh;
    
}

.illustrations-2{
    position: relative;
}
.title{
    color: #000000;
    text-align: left;
    font: 600 40px/20.8px 'Plus Jakarta Sans', sans-serif;
    position: absolute;
    left: 32.51px;
    top: 340px;
}

.blob {
    position: absolute;
    left: 63.59px;
    top: 40.42px;
    overflow: visible;
}
.whites {
    position: absolute;
    left: 222px;
    top: 172px;
    overflow: visible;
}
.whites-2 {
    position: absolute;
    left: 105.21px;
    top: 102.99px;
    overflow: visible;
}
.shadow {
    position: absolute;
    left: 146.92px;
    top: 106.11px;
    overflow: visible;
}
.shadow-2 {
    position: absolute;
    left: 178.17px;
    top: 145.7px;
    overflow: visible;
    }
.group {
    position: absolute;
    left: 68.13px;
    top: 39.92px;
    overflow: visible;
}
/* FORM CSS */
.login-form{
    position: absolute;
    width:298.86px;
    left:32.51px;
    top:403.65px
}

input[type=text], input[type=password], input[type=number], input[type=email]  {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border:none;
    border-bottom: 2px solid #f3f2f2;
    
}
.forgotpassword{
    position: absolute;
    top:105px;
    right: 0;
    font: 14px 'Plus Jakarta Sans', sans-serif;
}
.or{
    position: absolute;
    top:590px;
    left:180px;
}
button.login-submit{
    width: 320px;
    background: #64fcd9;
    border:none;
    border-radius: 100px;
    height: 41.1px;
    margin-top: 42px;

    font-size: medium;
    font-weight:400;
    font: 400 16px/20.8px 'Plus Jakarta Sans', sans-serif;
}

/* login with google css */
.loginwithgoogle{
    position: absolute;
    top:620px;
    left:32.51px;


}
.icon-google,
.icon-google * {
    box-sizing: border-box;
}
.icon-google {
    position: absolute;
    overflow: visible;
    left:23.86px
}

.loginwithfacebook{
    background: #f3f2f2;
    border-radius: 100px;
    border:none;
    width: 320px;
    height: 41.1px;
    text-align: center;
    position: absolute;
    top:700px;
    left:34.51px;
    padding: 10px;
}

.icon-facebook,
.icon-facebook * {
    box-sizing: border-box;
}
.icon-facebook {
    position: absolute;
    overflow: visible;
    left:23.86px
}